DATABASE_URL="postgresql://neondb_owner:nJB0UyDGXu2I@ep-yellow-haze-a5kf8qsl-pooler.us-east-2.aws.neon.tech/neondb?sslmode=require"

NEXTAUTH_SECRET="GHm4pOeP7uChGiYfy4NST91RvDu2yBNgQp7YMDYqWEY="
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="GHm4pOeP7uChGiYfy4NST91RvDu2yBNgQp7YMDYqWEY="


// Stripe Variaveis

STRIPE_SECRET_KEY=sk_test_51R0645R9fFzxPkKlxkN4fi0rcd2q6CjghdehFSirZVTWh8ylkNmz8U01174gYPTGfA0U8w8tzpRGYFAZmqGTrTma00JWNSA927
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51R0645R9fFzxPkKlfVOJF5NCXOAzDWHRPJD3N7kiX2RNTHyZorAo4a6VHerm25fD9p7TIrnBnOGQDwypVt9CUtSU00YHFFRTlO
STRIPE_WEBHOOK_SECRET=whsec_...
NEXT_PUBLIC_STRIPE_BASIC_PLAN_PRICE_ID=price_1R06P8R9fFzxPkKldIyMcLC2
NEXT_PUBLIC_STRIPE_PRO_PLAN_PRICE_ID=price_1R06Q3R9fFzxPkKlHN5yFNd6
NEXT_PUBLIC_STRIPE_PREMIUM_PLAN_PRICE_ID=price_1R06RrR9fFzxPkKlvtrHmggX

// Adicionar URL do app
NEXT_PUBLIC_APP_URL=http://localhost:3000